#pragma code_page(65001)
#include <windows.h>
#include "resource.h"

IDI_ICON1 ICON "app.ico"

// 增加版本信息以强制更新
VS_VERSION_INFO VERSIONINFO
FILEVERSION     1,0,0,1  // 递增子版本号
PRODUCTVERSION  1,0,0,1
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080404b0"
        BEGIN
            VALUE "FileDescription", "HTML Guidance"
            VALUE "ProductName", "HTML Guidance"
            VALUE "FileVersion", "1.0.0.1"
            VALUE "ProductVersion", "1.0.0.1"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x804, 1200
    END
END
